*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: auto;
    height: 100vh;
    background-image:url(background9\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
width: 85%;
margin:auto;
padding: 35px 0;
display:flex;
align-items:center;
justify-content:space-between;
}
.myname button {
    font-size: 25px;
    font-weight: bold;
    color: #ffffffb7;
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    transition: 0.3s;
}

.myname button:hover {
     transform: scale(1.3);
     cursor: pointer;
     letter-spacing: 3px;
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffffb2;
    text-transform: uppercase;
    transition: 0.5s;
}
.navbar ul li a:hover {
    color: #ffffff;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 60%;
    height: 77vh;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffffb2;
}
.content h1{
    font-size: 100px;
    margin-top: 80px;
    color: transparent;
-webkit-text-stroke: 0.5px #f4f4f480;
background: url(back11.png);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 30s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.click button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f4f4f480;
    background: transparent;
    color: #f4f4f480;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 15px 30px -20px black;
    transition: 0.3s;
}
.click button:hover {
    border: 2px solid;
    color: #ffffff;
}

.click button span{
    background: #f4f4f444;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.3s;
}
button:hover span{
    width: 100%;
}