*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background:linear-gradient(-55deg,#314755, #26A0DA, #5fc1ee);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: animate 30s ease infinite;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    } 
    50%{
        background-position: 100% 50%;
    } 
    100%{
        background-position: 0 50%;
    }
}

.navbar {
width: 85%;
margin:auto;
padding: 35px 0;
display:flex;
align-items:center;
justify-content:space-between;
}
.myname button {
    font-size: 25px;
    font-weight: bold;
    color: #ffffffb7;
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    transition: 0.3s;
}

.myname button:hover {
    transform: scale(1.1);
     cursor: pointer;
     color: #314755;
     text-shadow: 0 0 10px #314755,
                  0 0 20px #314755,
                  0 0 40px #314755;
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffffb2;
    text-transform: uppercase;
    transition: 0.3s;
}
.navbar ul li a:hover {
    color: #314755;
    text-shadow: 0 0 10px #314755,
                 0 0 20px #314755,
                 0 0 40px #314755;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #314755;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #314755,
                0 0 20px #314755,
                0 0 40px #314755;
    transition: 0.3s;
}
.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 60%;
    height: 77vh;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    font-size: 100px;
    margin-top: 80px;
    -webkit-text-stroke: 1px #f4f4f480;
    color: transparent
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: #f4f4f480;
}
.click button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f4f4f480;
    background: transparent;
    color: #f4f4f480;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 15px 30px -20px black;
    transition: 0.3s;
}
.click button:hover {
    border: 2px solid;
    color: #314755;
    box-shadow: 0 0 10px #314755,
                0 0 5px #314755;
}

.click button span{
    background: #f4f4f41e;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.3s;
}
button:hover span{
    width: 100%;
}